version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:80"
